*{
    font-family: 'Source Sans Pro',sans-serif;
}
.f_btn {
    float: right;
}

.f_btndel {
    float: right;
    position: absolute;
    top: 54px;
    right: 14%;
}

.f_view {
    margin-left: 19px;
}

.btn_per {
    float: right;
   /* margin-top: -34px; */
}

.f_role {
    float: right;
    font-size: 10px;
    padding: 9px;
    margin-top: -34px;
    margin-right: -11px;
}

.content-header small {
    font-weight: 800 !important;
}

.f_cross {
    float: none !important;
    margin-left: 10px;
}

.f_permission {
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.f_login {
    margin-left: 25%;
}



.f_loginbtn {
    text-align: center;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #ecf0f5;
}


.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
}

.f_footer {
    margin-left: auto !important;
}
.f_wrapper {
    min-height: auto !important;
}

.admin_footer {
    margin-left: 230px !important;
}

.login ~ .admin_footer {
    margin-left: 0px !important;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
.login-content-wrapper {
    margin-left: 0px !important;
}
.login-content {
    min-height: 650px !important;
}
<<<<<<< HEAD
.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: -24%;
=======
.action-list a, .action-list form{
    display: inline;
>>>>>>> 1acc22c28eeac275047e563a63db80ff916f4fd0
}