


/*for desktop*/
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {


  .top-header {
    padding: 0px 15px;
     width: 100%; 
    float: right;
    margin-top: 10px;
}

ul.top-header-nav li {
  
    font-size: 11px;
    
}

.index header {
  
    position: relative;
   
}

ul.header-nav {
    width: 100%;
   
}
.header-text h2 {
    font-size: 16px;
   
}
.header-text h3 {
    font-size: 16px;
   
}
.header-text p {
    font-size: 8px;
   
}
.f_about {
    font-size: 12px;
  
    display: inline;
}

.f_main {
    
    top: 0px;
    
}

.header-text {
    
    top: -40%;
   
}

.btn_check {
   
    margin-bottom: 30px;
}

h3.f_text {
    font-size: 45px;
    
}
span.f_icon1 {
   
    font-size: 12px;
   
}
ul.f_site {
    
    float: left;
}
h3.f_get {
    font-size: 12px;
   
}
li.f_right {
    float: left !important;
    
}
.f_width {
       width: 69%;
    margin-top: 16px;
        margin-left: -6px;
   
}
.f_width1 {
width: 48%;
    margin-bottom: 10px;
    margin-left: 10px;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .btn_check {
   
    margin-bottom: 30px;
    text-align: center;
}
ul.f_site {
  
    margin-top: -26px;
}

.f_site li {
    padding: 0px;
  
}

.f_width {
    width: 33%;
    margin-top: 16px !important;
    margin-left: -6px;
}
.f_width1 {
    width: 23%;
    margin-bottom: 10px;
    margin-left: 10px;
}

img.log_f {
    /* height: 100px !important; */
    text-align: center;
    margin: 0 auto;
    margin-top: 34px;
}

.f_logo {
    text-align: center;
    margin: 0 auto;
}

h3.f_check {
   
    text-align: center;
}

p.f_per {
   
    text-align: center;
}
h3.f_text {
   
    text-align: center;
}
p.f_tutor {
   
    text-align: center;
}
.index header {
    position: relative;
}

.header-text {
   
    top: -10%;
   
}

.f_main {
    
    top: 0px;
    
}
.top-header {
   
    width: auto;
   
}
h3.f_margin {
    margin-top: -167px !important;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation:landscape){

    ul.f_site {
    margin-top: 12px;
}

.f_width {
    width: auto;
     margin-top: 0px !important; 
    
}

.f_width1 {
    width: auto;
    
}
h3.f_margin {
    margin-top: 50px !important;
}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation:landscape){

    .f_main {
    
    top: -99px !important;
   
}

h3.f_check {
   
     text-align: center;
}
p.f_per {
  
    text-align: center;
}
.btn_check {
   
    text-align: center;
}

.f_logo {
    text-align: center;
    margin: 0 auto;
}

.f_width1 {
     width: auto;
    margin-bottom: 10px !important;
    
}

.f_width {
     width: auto;
    margin-top: 16px !important;
   
}
    }